<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{.Title}}</h1>
<ul>
{{range .JobList}}
    <li style={{if .Status}}
            "color: lawngreen"
        {{else}}
            "color: red"
        {{end}}
    >{{.Name}}</li>
{{end}}
</ul>
<hr>
<form method="post" action="todoList">
    <input type="text" name="name">
    <input type="radio" name="status" value="true">是
    <input type="radio" name="status" value="false">否
    <br>
    <button type="submit" value="提交">submit</button>
</form>
</body>
</html>